.container_build {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-evenly;
}

.infusions {
    margin: auto;
}

.template_code {
    width: 100%;
}

.margin_top {
    margin-top: -28px;
}

.row_weapons {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 1px solid transparent;
    border-radius: 4px;
    background-clip: border-box;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.card-header {
    padding: 4px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 20px;
    text-align: center;
}

.optional-armor{
    margin-left: -20px; 
    margin-right: -20px;
}

.infusion{
    margin-bottom: -3px;
}

.card-color-necro{
    background-color: rgba(67, 141, 30, 0.055);
}
.card-color-guard{
    background-color: #27394b;
}
.card-color-mesmer{
    background-color: #3f343f;
}
.card-color-rev{
    background-color: #35252e;
}
.card-color-engi{
    background-color: #464338;
}
.card-color-war{
    background-color: #302e1a;
}
.card-color-ele{
    background-color: #4e2424;
}
.card-color-thief{
    background-color: #304d68;
}
.card-color-ranger{
    background-color: #304d68;
}
.card-color-footer{
    background-color: #33363a;
}
.card-header-color-necro {
    background: #3f5847;
}
.card-header-color-guard {
    background: #508ea7;
}
.card-header-color-mesmer {
    background: #724192;
}
.card-header-color-rev {
    background: #572435;
}
.card-header-color-engi {
    background: #98692c;
}
.card-header-color-war {
    background: #bc8d16;
}
.card-header-color-ele {
    background: #8f1e12;
}
.card-header-color-thief {
    background: #495578;
}
.card-header-color-ranger {
    background: #8ea53a;
}
.card-header-color-footer {
    background: #8f1e12;
}

.card-body {
    flex: 1 1 auto;
    padding: 20px;
}

.row_trinkets {
    flex-wrap: wrap;
    display: flex;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.text-center {
    text-align: center!important;
}

.item-name-main {
    /* line-height: 55px; */
    color: #ceb895;
    margin-left: 1rem;
}

.item-name-sub {
    font-size: .75rem;
    margin-left: 1rem;
}

.txt-color-necro-main {
    color: #059100;
}
.txt-color-guard-main {
    color: #2368ff;
}
.txt-color-mesmer-main {
    color: #a50b9d;
}
.txt-color-rev-main {
    color: #b6226c;
}
.txt-color-engi-main {
    color: #c09e04;
}
.txt-color-war-main {
    color: #ad7f00;
}
.txt-color-ele-main {
    color: #c20000;
}
.txt-color-thief-main {
    color: #2b2626;
}
.txt-color-ranger-main {
    color: #059100;
}

.txt-color-sub {
    color: #c7c7c7;
}


/* COPY BUTTON */

.button-tooltip {
    position: relative;
    display: inline-block;
}

.button-tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.button-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.button-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.button-style-necro {
    border-color: #000000;
    background: #3f5847;
    color: white;
}
.button-style-guard {
    border-color: #000000;
    background: #508ea7;
    color: white;
}
.button-style-mesmer {
    border-color: #000000;
    background: #724192;
    color: white;
}
.button-style-rev {
    border-color: #000000;
    background: #572435;
    color: white;
}
.button-style-engi {
    border-color: #000000;
    background: #98692c;
    color: white;
}
.button-style-war {
    border-color: #000000;
    background: #bc8d16;
    color: white;
}
.button-style-ele {
    border-color: #000000;
    background: #ad2a20;
    color: white;
}
.button-style-thief {
    border-color: #000000;
    background: #495578;
    color: white;
}
.button-style-ranger {
    border-color: #000000;
    background: #8ea53a;
    color: white;
}


/* ADD FOR FLEX */

.text-align-left {
    text-align: left;
}

.flex-grid {
    display: flex;
}

.flex-grid .col {
    flex: 1;
}

.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}

.flex-grid-thirds .col {
    width: 32%;
}

@media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
    }
    .flex-grid,
    .flex-grid-thirds .col {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.flex-grid-row {
    display: flex;
    flex-direction: row;
}

.flex-grid-col {
    display: flex;
    flex-direction: column;
}

.armor-flex-33 {
    width: 33%;
}

.no-margin {
    margin: 0;
}

.text-preline {
    white-space: pre-line;
}

.trait-text {
    padding: 20px;
}

.trait-text span {
    display: inline-block;
}