//COLORS
//CARD HEADERS
$necromancerHeader: #3f5847;
$guardianHeader: #508ea7;
$mesmerHeader: #724192;
$revenantHeader: #572435;
$engineerHeader: #98692c;
$warriorHeader: #bc8d16;
$elementalistHeader: #8f1e12;
$thiefHeader: #495578;
$rangerHeader: #8ea53a;
$footerHeader: #8f1e12;
//CARD BODY
$necromancerBody: #379212;
$guardianBody: #27394b;
$mesmerBody: #3f343f;
$revenantBody: #35252e;
$engineerBody: #464338;
$warriorBody: #302e1a;
$elementalistBody: #4e2424;
$thiefBody: #304d68;
$rangerBody: #304d68;
$footerBody: #33363a;
//CARD TEXT
$necromancerText: #059100;
$guardianText: #2368ff;
$mesmerText: #a50b9d;
$revenantText: #b6226c;
$engineerText:#c09e04;
$warriorText: #ad7f00;
$elementalistText: #c20000;
$thiefText: #2b2626;
$rangerText: #059100;
$descriptionText: #c7c7c7;
//COPY BUILD BUTTON
$black: #000000; //border
$white: #FFFFFF; //text
$necromancerButton: #3f5847;
$guardianButton: #508ea7;
$mesmerButton: #724192;
$revenantButton: #572435;
$engineerButton: #98692c;
$warriorButton: #bc8d16;
$elementalistButton: #ad2a20;
$thiefButton: #495578;
$rangerButton: #8ea53a;
//MISCELANEUS
$buildBar: #3c3f45; //build bar color before hovering (build, how to play, notes etc)
$buildUpdated: #00692f;
$buildNotUpdated: #d62a0f;
$buildTesting: #e4c200;
$menuText: #ffffffd8;
$menuTextHover: #1c62cb;
$links: #0041a3;
$pageBackground: #343a40;